<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="navBar">
        <a href="#">ABOUT</a>
        <a href="#">SHARE</a>
        <a href="#">CONTACT</a>
        <a href="#parent">SIGN IN</a>
        <a href="#">LOG IN</a>


    </div>

    {{{body}}}

    <!-- <footer>Copyrights</footer> -->
    <script type="text/javascript" src="scriptCanvas.js"></script>
</body>

</html>
