<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
    <div id="navBar">
        <a href="#">ABOUT</a>
        <a href="#">SHARE</a>
        <a href="#">CONTACT</a>
        <a href="/register">SIGN IN</a>
        <a href="/login">LOG IN</a>
    </div>

    {{{body}}}

    <!-- <footer>Copyrights</footer> -->
    <script type="text/javascript" src="/public/canvas.js"></script>
</body>

</html>
