<!-- templante para nao repetir o html varias vezes         TUDO O QUE NÃO QUEREMOS QUE MUDE!-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body>


        {{{body}}}

        <!-- <footer>Copyrights</footer> -->
    </body>

</html>
