<h1>WELCOME TO MY PETITION</h1>

<div>
    <form>
        First name: <input type="text" name="FirstName" value="">
        Last name: <input type="text" name="LastName" value="">
        <input type="hidden" name="sig"></input>
        <div class="canvaposition">
            <canvas id="sigcanvas" width="400" height="200"></canvas>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
