<div id="background3"></div>
<div class="forminfo">
    <h1>Complete your profile:</h1>
    <form action="/more-info" method="post">
        <input type="hidden" name="_csrf" value= {{csrfToken}}>
        <p>Age</p>
        <input type="text" name="age" placeholder="Age"><br>
        <p>City</p>
        <input type="text" name="city" placeholder="City"><br>
        <p>Country</p>
        <input type="text" name="country" placeholder="Country"><br>
        <p>Url</p>
        <input type="text" name="url" placeholder="Homepage"><br>
        <button type="submit">Submit</button>
    </form>
</div>
