<a id="form_hyperlink">
    <div id="parent">
        <form id="form1">
            First name: <input type="text" name="FirstName" value=""> Last name: <input type="text" name="LastName" value=""><br>
            <input type="hidden" id="sig">
            <canvas id="sigcanvas" width="350" height="100"></canvas>
            <div class="divbutton">
                <button type="submit">Submit</button>
                <button id='clearButton' class="buttons" type="button">Clear</button>
        </form>
        </div>
    </div>
</a>
