    <h1></h1>
    <h2></h2> Please sign here:<br>
    <canvas width="600" height="150" id="sigCanvas"></canvas><br>
    <form action="/submit-sig" method="post">
        <input type="hidden" name="_csrf" value= {{csrfToken}}>
        <input type="hidden" name="signature"><br><br>
        <button type="submit">Submit</button>
    </form><br>
