<div id="background5"></div>
<div class="thankyou">
    <h1>THANK YOU FOR SIGNING OUR PETISH!</h1>
    <img src="{{signature}}"><br>
    <a href="/signatures">Click here to see the list of signees!</a><br>
</div>
